<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Club Table</h1>
    <a href="/home">
        <button>Back</button>
    </a>

    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Division</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((el, i) => { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= el.name %></td>
                    <td><%= el.division %></td>
                    <td><a href="/clubs/<%= el.id %>">Show Players</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>