<!DOCTYPE html>
<html lang="en">
  <%- include(`components/heading.ejs`, {title: 'Home'}) %>
  <body>
    <div class="container">
      <h1 class="text-center text-muted">Home</h1>
      <div class="d-flex justify-content-center">

        <div class="card text-center" style="width: 18rem;">
            <img src="https://pbs.twimg.com/media/DOIGT6cW4AAr2sJ?format=jpg&name=4096x4096" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Football-App</h5>
              <p class="card-text">"Football is played with the head. Your feet are just the tools"</p>
              <p>-Andrea Pirlo-</p>
              <a href="/logout">
                <button class="btn btn-danger">Logout</button>
              </a>
              <a href="/clubs">
                <button class="btn btn-success">Club</button>
              </a>
              <a href="/players">
                <button class="btn btn-primary">Player</button>
              </a>
            </div>
          </div>

        
      </div>
    </div>
  </body>
</html>
