<!DOCTYPE html>
<html lang="en">
    <%- include(`components/heading.ejs`, {title: 'Login'}) %>
<body>

    <div class="container">
        <h1 class="text-muted">Login</h1>
    
        <div class="d-flex justify-content-center">
            <div class="container">
                <% if (error) { %>
                    <p style="color:red">
                        <%= error %>
                    </p>
                <% } %>
            
                <form action="/login" method="post">
                    <p>Username</p>
                    <input type="text" name="userName">
                    <p>Password</p>
                    <input type="text" name="password">
                    <p></p>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
                <p></p>
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
</body>
</html>