<!DOCTYPE html>
<html lang="en">
    <%- include(`components/heading.ejs`, {title: 'Register'}) %>
<body>

<div class="container">
    <h1 class="text-muted">Register</h1>

    <div>
        <form action="/register" method="post">
            <p>Username</p>
            <input type="text" name="userName">
            <p>Password</p>
            <input type="text" name="password">
            <p>Name</p>
            <input type="text" name="name">
            <p>Email</p>
            <input type="text" name="email">
            <p></p>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p></p>
        <a href="/login">Login</a>
    </div>
</div>
</body>
</html>